.lettersBoard {
  display: inline-flex;
  width: 250px;
  flex-wrap: wrap;

  @media screen and (max-width: 760px){
    margin: 2em 0;
  }

  &.invalidWord {
    .letter.active {
      background-image: linear-gradient(#F34E5B, #A1091F); 
    }
  }

  &.validWord {
    .letter.active {
      border: 1px solid #BCD7B3;
      background-image: linear-gradient(#BDED69, #42931F); 
    }
  }
}
