.clearBtn {
  display: flex;
  text-align: center;
  color: #969696;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  outline: none;
  

  @media screen and (min-width: 760px){
    top: 5px;
    position: absolute;
    right: 0;
  }

  @media screen and (max-width: 760px){
    width: 250px;
    right: 0;
    justify-content: flex-end;
  }

  svg {
    margin-right: 5px;
  }

  &:disabled {
    color: rgba(160, 160, 160, 0.3);
  }
}
