.letter {
  width: 50px;
  height: 50px;
  border: 1px solid #DE3E50;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 26px;
  background-image: linear-gradient(#FBD160, #F76F1C); 
  text-shadow: 2px 2px #737373;
}
