.wordBox {
  border: 2px solid #B3B3B3;
  height: 25px;
  display: inline-block;
  width: 180px;
  padding: 0.5em 3.5em 0.5em 0.5em;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 760px){
    margin-bottom: 5px;
  }

  @media screen and (max-width: 760px){
    width: 172px;
  }

  span {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  small {
    font-size: 12px;
    opacity: 0.5;
    position: absolute;
    right: 8px;
    top: 13px;
    margin-left: 16px;
  }

  &.invalidWord {
    color: #D0021A;
  }

  &.validWord {
    color: #7ED321;
  }
}
