.LettersGame {
  h1 {
    text-align: center;
  }

  .content {
    max-width: 550px;
    margin: 3em auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media screen and (max-width: 760px){
      padding: 1em;
      margin: 1em auto;
      align-items: center;
      flex-direction: column;
    }
  }    
}
